@tailwind base;
@tailwind components;
@tailwind utilities;

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 100;
  src: url("./assets/fonts/AppleSDGothicNeoT.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 200;
  src: url("./assets/fonts/AppleSDGothicNeoUL.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 300;
  src: url("./assets/fonts/AppleSDGothicNeoL.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 400;
  src: url("./assets/fonts/AppleSDGothicNeoR.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 500;
  src: url("./assets/fonts/AppleSDGothicNeoM.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 600;
  src: url("./assets/fonts/AppleSDGothicNeoSB.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  src: url("./assets/fonts/AppleSDGothicNeoB.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 800;
  src: url("./assets/fonts/AppleSDGothicNeoEB.woff2") format("woff2");
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  font-weight: 900;
  src: url("./assets/fonts/AppleSDGothicNeoH.woff2") format("woff2");
}
